In [36]:
from faker import Faker
fake = Faker()
names = [fake.name().split() for i in range (100)]
names = [name for name in names if len(name) == 2]
names

[['Dale', 'Pope'],
 ['Tiffany', 'Parks'],
 ['Brandon', 'Vargas'],
 ['Ann', 'Ward'],
 ['Janet', 'Burns'],
 ['Daniel', 'Thomas'],
 ['James', 'Krueger'],
 ['Denise', 'Stephens'],
 ['Russell', 'Hale'],
 ['John', 'Parks'],
 ['Heather', 'Rivera'],
 ['Scott', 'Peters'],
 ['Michael', 'Long'],
 ['Johnathan', 'Morgan'],
 ['Brittany', 'Hall'],
 ['Heather', 'Swanson'],
 ['Alex', 'Peters'],
 ['Elizabeth', 'Mejia'],
 ['Karen', 'Olson'],
 ['Keith', 'Cortez'],
 ['Kelly', 'Hawkins'],
 ['Janice', 'Silva'],
 ['Lance', 'Martin'],
 ['Adriana', 'Hester'],
 ['Jennifer', 'Huang'],
 ['Michael', 'Long'],
 ['Donald', 'Kelly'],
 ['Jennifer', 'Young'],
 ['Patricia', 'Holloway'],
 ['Brandon', 'Grant'],
 ['Angela', 'James'],
 ['Pamela', 'White'],
 ['Heidi', 'Pratt'],
 ['Jonathan', 'Robinson'],
 ['Penny', 'Harris'],
 ['Scott', 'Singh'],
 ['Christopher', 'Martinez'],
 ['Jamie', 'Nixon'],
 ['Nicholas', 'Crawford'],
 ['Barbara', 'Ferguson'],
 ['Eric', 'Morgan'],
 ['Brian', 'Mitchell'],
 ['Marco', 'Moon'],
 ['Martin', 'Mckenzie'],
 ['Andre', 'Singleton'],
 ['Steven', 'Wells'],
 ['Wanda', 'Carter'],
 ['Spencer', 'Walker'],
 ['Ryan', 'Cummings'],
 ['Tina', 'King'],
 ['Paul', 'Bates'],
 ['Jennifer', 'Mann'],
 ['Debbie', 'Perez'],
 ['Troy', 'Reid'],
 ['Christopher', 'Brown'],
 ['David', 'Mccarthy'],
 ['Sandra', 'Smith'],
 ['Jennifer', 'Alvarez'],
 ['Nicole', 'Johnson'],
 ['Andrew', 'May'],
 ['Alicia', 'Anderson'],
 ['Louis', 'Perez'],
 ['Tina', 'Johnson'],
 ['Matthew', 'Moore'],
 ['John', 'Rubio'],
 ['Michael', 'Daniels'],
 ['Cheryl', 'Jones'],
 ['Mary', 'Graham'],
 ['Chelsea', 'Jones'],
 ['Jodi', 'Montgomery'],
 ['Anthony', 'White'],
 ['Nathan', 'Gaines'],
 ['Angela', 'Thompson'],
 ['Claudia', 'Zimmerman'],
 ['John', 'Miles'],
 ['Kenneth', 'Palmer'],
 ['Lydia', 'Mendoza'],
 ['Joe', 'Harmon'],
 ['Christina', 'Woodward'],
 ['Christina', 'Diaz'],
 ['Justin', 'Harris'],
 ['Brian', 'Wiley'],
 ['Scott', 'Gilbert'],
 ['John', 'Adams'],
 ['Alyssa', 'Sullivan'],
 ['Terri', 'Reed'],
 ['Patrick', 'Robinson'],
 ['Alan', 'Mckay'],
 ['Jessica', 'Martin'],
 ['Aaron', 'Brown'],
 ['Mary', 'Hebert'],
 ['Margaret', 'Hoffman'],
 ['Heather', 'Dawson']]

In [49]:
import sqlite3
connection = sqlite3.connect("sample.db")

In [52]:
create_table_query = '''
CREATE TABLE IF NOT EXISTS people (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    surname TEXT NOT NULL
)
'''
cursor = connection.cursor()
cursor.execute(create_table_query)
connection.commit()

In [53]:
insert_query = 'INSERT INTO people(name, surname) VALUES(?, ?)'
for name, surname in names:
    cursor.execute(insert_query, (name, surname))
connection.commit()

In [ ]:
select_query = 'SELECT * FROM people LIMIT 10'
for i in cursor.execute(select_query):
    print(i)

(1, 'Dale', 'Pope')
(2, 'Tiffany', 'Parks')
(3, 'Brandon', 'Vargas')
(4, 'Ann', 'Ward')
(5, 'Janet', 'Burns')
(6, 'Daniel', 'Thomas')
(7, 'James', 'Krueger')
(8, 'Denise', 'Stephens')
(9, 'Russell', 'Hale')
(10, 'John', 'Parks')

In [ ]:
query = 'SELECT * FROM people'
for result in cursor.execute(query):
    print(result)

(1, 'Dale', 'Pope')
(2, 'Tiffany', 'Parks')
(3, 'Brandon', 'Vargas')
(4, 'Ann', 'Ward')
(5, 'Janet', 'Burns')
(6, 'Daniel', 'Thomas')
(7, 'James', 'Krueger')
(8, 'Denise', 'Stephens')
(9, 'Russell', 'Hale')
(10, 'John', 'Parks')
(11, 'Heather', 'Rivera')
(12, 'Scott', 'Peters')
(13, 'Michael', 'Long')
(14, 'Johnathan', 'Morgan')
(15, 'Brittany', 'Hall')
(16, 'Heather', 'Swanson')
(17, 'Alex', 'Peters')
(18, 'Elizabeth', 'Mejia')
(19, 'Karen', 'Olson')
(20, 'Keith', 'Cortez')
(21, 'Kelly', 'Hawkins')
(22, 'Janice', 'Silva')
(23, 'Lance', 'Martin')
(24, 'Adriana', 'Hester')
(25, 'Jennifer', 'Huang')
(26, 'Michael', 'Long')
(27, 'Donald', 'Kelly')
(28, 'Jennifer', 'Young')
(29, 'Patricia', 'Holloway')
(30, 'Brandon', 'Grant')
(31, 'Angela', 'James')
(32, 'Pamela', 'White')
(33, 'Heidi', 'Pratt')
(34, 'Jonathan', 'Robinson')
(35, 'Penny', 'Harris')
(36, 'Scott', 'Singh')
(37, 'Christopher', 'Martinez')
(38, 'Jamie', 'Nixon')
(39, 'Nicholas', 'Crawford')
(40, 'Barbara', 'Ferguson')
(41, 'Eric', 'Morgan')
(42, 'Brian', 'Mitchell')
(43, 'Marco', 'Moon')
(44, 'Martin', 'Mckenzie')
(45, 'Andre', 'Singleton')
(46, 'Steven', 'Wells')
(47, 'Wanda', 'Carter')
(48, 'Spencer', 'Walker')
(49, 'Ryan', 'Cummings')
(50, 'Tina', 'King')
(51, 'Paul', 'Bates')
(52, 'Jennifer', 'Mann')
(53, 'Debbie', 'Perez')
(54, 'Troy', 'Reid')
(55, 'Christopher', 'Brown')
(56, 'David', 'Mccarthy')
(57, 'Sandra', 'Smith')
(58, 'Jennifer', 'Alvarez')
(59, 'Nicole', 'Johnson')
(60, 'Andrew', 'May')
(61, 'Alicia', 'Anderson')
(62, 'Louis', 'Perez')
(63, 'Tina', 'Johnson')
(64, 'Matthew', 'Moore')
(65, 'John', 'Rubio')
(66, 'Michael', 'Daniels')
(67, 'Cheryl', 'Jones')
(68, 'Mary', 'Graham')
(69, 'Chelsea', 'Jones')
(70, 'Jodi', 'Montgomery')
(71, 'Anthony', 'White')
(72, 'Nathan', 'Gaines')
(73, 'Angela', 'Thompson')
(74, 'Claudia', 'Zimmerman')
(75, 'John', 'Miles')
(76, 'Kenneth', 'Palmer')
(77, 'Lydia', 'Mendoza')
(78, 'Joe', 'Harmon')
(79, 'Christina', 'Woodward')
(80, 'Christina', 'Diaz')
(81, 'Justin', 'Harris')
(82, 'Brian', 'Wiley')
(83, 'Scott', 'Gilbert')
(84, 'John', 'Adams')
(85, 'Alyssa', 'Sullivan')
(86, 'Terri', 'Reed')
(87, 'Patrick', 'Robinson')
(88, 'Alan', 'Mckay')
(89, 'Jessica', 'Martin')
(90, 'Aaron', 'Brown')
(91, 'Mary', 'Hebert')
(92, 'Margaret', 'Hoffman')
(93, 'Heather', 'Dawson')

In [58]:
query = 'SELECT name,surname FROM people limit 10'
for result in cursor.execute(query):
    print(result)

('Dale', 'Pope')
('Tiffany', 'Parks')
('Brandon', 'Vargas')
('Ann', 'Ward')
('Janet', 'Burns')
('Daniel', 'Thomas')
('James', 'Krueger')
('Denise', 'Stephens')
('Russell', 'Hale')
('John', 'Parks')

In [ ]:
query = 'SELECT name, surname FROM people ORDER by name DESC LIMIT 100'
for result in cursor.execute(query):
    print(result)

In [69]:
query = 'SELECT * FROM people WHERE NAME LIKE "A%"'
for result in cursor.execute(query):
    print(result)

(4, 'Ann', 'Ward')
(17, 'Alex', 'Peters')
(24, 'Adriana', 'Hester')
(31, 'Angela', 'James')
(45, 'Andre', 'Singleton')
(60, 'Andrew', 'May')
(61, 'Alicia', 'Anderson')
(71, 'Anthony', 'White')
(73, 'Angela', 'Thompson')
(85, 'Alyssa', 'Sullivan')
(88, 'Alan', 'Mckay')
(90, 'Aaron', 'Brown')

In [71]:
query = 'SELECT name, surname FROM people WHERE name LIKE "%A__" LIMIT 100'
for result in cursor.execute(query):
    print(f"First Name: {result[0]}, Surname: {result[1]}")

First Name: Dale, Surname: Pope
First Name: Tiffany, Surname: Parks
First Name: Ann, Surname: Ward
First Name: Michael, Surname: Long
First Name: Brittany, Surname: Hall
First Name: Adriana, Surname: Hester
First Name: Michael, Surname: Long
First Name: Donald, Surname: Kelly
First Name: Barbara, Surname: Ferguson
First Name: Paul, Surname: Bates
First Name: Michael, Surname: Daniels
First Name: Mary, Surname: Graham
First Name: Mary, Surname: Hebert